Mateus-BP-GameDev1/.vs
Mateus-BP-GameDev1/UserSettings
*.sln
*.csproj
*.vsconfig
Mateus-BP-GameDev1/Temp
Mateus-BP-GameDev1/obj
Mateus-BP-GameDev1/Logs
Mateus-BP-GameDev1/Library
Mateus-BP-GameDev1/.vscode
*.slnx
